/* You can add global styles to this file, and also import other style files */
/* You can add your global styles here */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  